<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kenia&family=Mukta:wght@300;700&display=swap" rel="stylesheet">
  <title>Socialblog | stay connected</title>
</head>
<body>
  {% include 'navbar.html' %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert_box">
        <div class="alert-text" >
          <p>{{message}}</p>
        </div>
        <span id="alert-close-btn">
          <i class="fa-solid fa-xmark close_btn_icon"></i>
        </span>
      </div>
    {% endfor %}
  {% endif %}

  {% include 'section_left.html' %}
  
  <main class="section_middle">
    <div class="section_middle_inner_div">
      <div class="feed">
        {% for post in posts %}
          <div class="post">
    
            <div class="post_header post_const_margin">
              <div class="profile_picture post_profile_picture">
                <a href="{% url 'account:profile' pk=post.owner.id %}" >
                  <img src="{{post.owner.profile_picture.url}}" class="profile_picture_img" alt="post_picture" >
                </a>
              </div>
              <div class="post_owner_div">
                <a>
                  <p>{{post.owner.name}}</p>
                  <small>{{post.created}}</small>
                </a>
              </div>
            </div>
        
            <div class="post_text_content post_const_margin">
              <p>{{post.post_content}}</p>
            </div>
            {% if post.post_img %}
              <div class="post_content">
                <img src="{{post.post_img.url}}" alt="uploaded_image" >
              </div>
            {% endif %}
        
            <div class="post_statics post_const_margin">
              <small><a>Gellert Grindelwald,rin walder and 52 others</a></small>
              <small>and</small>
              <small class="comment_static_small"><a>7 comments</a></small>
            </div>
        
            <div class="post_buttons post_const_margin">
              
              <a class="like_button_div">
                <button class="like_button">
                  <i class="fa-regular fa-thumbs-up" style="color: #abaeb3;"></i>
                </button>
              </a>
              
              <a class="comment_button_div">
                <button class="comment_button">
                  <i class="fa-regular fa-comment" style="color: #abaeb3;"></i>
                </button>
              </a>
            </div>
        
            <div class="post_comment_section post_const_margin">
        
              <p class="view_all_comments"><a>View more comments</a></p>
        
              <div class="commenter_box">
        
                <div class="comment_header">
                  <div class="profile_picture cmnt_profile_picture">
                    <a>
                      <img src='images/profile_images/person-3.jpg' class="profile_picture_img" alt="profile_picture" >
                    </a>
                  </div>
                  <div class="comment_owner">
                    <a><p>rina walder</p></a>
                  </div>
                </div>
        
                <div class="comment_content">
                  <p>In response, Newt Scamander's former professor</p>
                  <small class="commenter_box_small reply_box_btn">Reply</small>
                  <small class="commenter_box_small">sep 6 </small>
                </div>
        
                <div class="input_box input_for_reply">
                  <form class="input_box_form">
                    <input type="text" placeholder="write a reply">
                    <button>
                      <i class="fa-regular fa-paper-plane" style="color: #abaeb3;"></i>
                    </button>
                  </form>
                </div>
        
              </div>
        
              <div class="comment_input_box">
                
                <div class="profile_picture cmnt_input_profile_picture">
                  <a>
                    <img src="images/profile_images/person-3.jpg" class="profile_picture_img" alt="profile_picture" >
                  </a>
                </div>
                  
                <form class="input_box_form input_for_comment">
                  <input type="text" placeholder="write your comment">
                  <button>
                    <i class="fa-regular fa-paper-plane" style="color: #abaeb3;"></i>
                  </button>
                </form>
              
              </div>
        
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>

  <section class="section_right">
    <div class="feature_post_div">
      <div class="feature_post_header">
        <p>Feature Posts</p>
      </div>
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-slide">
            {% for post in first_two_posts %}
              {% if post.post_img %}
                <div class="carousel_slide_post_div cars_sd_post_one">
                  <div class="carousel_post_photo_div">
                    <img src="{{post.post_img.url}}" class="carousel_img" alt="post_picture">
                  </div>
                  <div class="carousel_post_info_div">
                    <p>Posted by <span><a href="{% url 'account:profile' pk=post.owner.id %}">{{post.owner.name}}</a></span></p>
                    <p>{{ post.post_content|slice:":100" }}</p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-slide">
            {% for post in second_two_posts %}
              {% if post.post_img %}
                <div class="carousel_slide_post_div cars_sd_post_one">
                  <div class="carousel_post_photo_div">
                    <img src="{{post.post_img.url}}" class="carousel_img" alt="post_picture">
                  </div>
                  <div class="carousel_post_info_div">
                    <p>Posted by <span><a href="{% url 'account:profile' pk=post.owner.id %}">{{post.owner.name}}</a></span></p>
                    <p>{{ post.post_content|slice:":100" }}</p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-slide">
            {% for post in third_two_posts %}
              {% if post.post_img %}
                <div class="carousel_slide_post_div cars_sd_post_one">
                  <div class="carousel_post_photo_div">
                    <img src="{{post.post_img.url}}" class="carousel_img" alt="post_picture">
                  </div>
                  <div class="carousel_post_info_div">
                    <p>Posted by <span><a href="{% url 'account:profile' pk=post.owner.id %}">{{post.owner.name}}</a></span></p>
                    <p>{{ post.post_content|slice:":100" }}</p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-slide">
            {% for post in fourth_two_posts %}
              {% if post.post_img %}
                <div class="carousel_slide_post_div cars_sd_post_one">
                  <div class="carousel_post_photo_div">
                    <img src="{{post.post_img.url}}" class="carousel_img" alt="post_picture">
                  </div>
                  <div class="carousel_post_info_div">
                    <p>Posted by <span><a href="{% url 'account:profile' pk=post.owner.id %}">{{post.owner.name}}</a></span></p>
                    <p>{{ post.post_content|slice:":100" }}</p>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="feature_post_button_div">
        <button id="prev" class="btn btn_carousel btn_carousel_left"><i class="fa-solid fa-chevron-left" style="color: #abaeb3;"></i></button>
        <button id="next" class="btn btn_carousel btn_carousel_right"><i class="fa-solid fa-chevron-right" style="color: #abaeb3;"></i></button>
      </div>
    </div>

    <div class="contact_list_div">
      <div class="contact_div_header">
        <p>Contact List</p>
      </div>
      <div class="contact_list">
        {% for contact in contact_list %}
          <div class="contact">
            <div class="profile_picture contact_div_profile_img">
              <a href="{% url 'account:profile' pk=contact.id %}">
                <img src="{{contact.profile_picture.url}}" class="profile_picture_img" alt="profile_picture">
              </a>
            </div>
            <p><a href="{% url 'account:profile' pk=contact.id %}">{{contact.name}}</a></p>
          </div>
        {% empty %}
          <div class="contact">
            <div class="profile_picture contact_div_profile_img">
              <a href="#">
                <img src="images/profile_images/user-default.jpg" class="profile_picture_img" alt="profile_picture">
              </a>
            </div>
            <p><a>Friend List Will Be Here</a></p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>